*{
	box-sizing: border-box;
}
body{
	margin: 0px;
	/*black*/
	background:#1b1c20; 
	/*final*/

	/*background: #7d7d7d;*/

}

a{
	text-decoration:none;
	color:  #c5c6c7;
}
#logoimg{
	/*background: url("logo.png");*/
	max-width:400px;
	max-height: 100px;
	box-sizing: border-box;
	/*border:solid #FFF 1px;*/
}
.navbar-brand{
	margin: 0px;
	padding: 0px
}
/*#logo{
	display:inline-block;
	border:solid #FFF 1px;
	background: url("logo.png");
	height: auto;
}*/
.active{
	background:#66FCF1;
	color: #000;
}
#headsec{
	background-color: rgba(0,0,0,1);
	 /*with black*/
	/*background-color:rgba(102, 252, 241, 1);*/
}
/*container{
	margin: 0px 0px;
}*/
.headlink{
	display: inline-block;
	margin: 0px 10px;
	border-radius:  500px;
	text-align: center;
	width: 100%;
}
.headlink:hover{
	color: #66FCF1;
}
.active.headlink:hover{
	background-color: #30C0c0;
	/*border: solid #000 3px;*/
		 color: #000;
}
.linkspace{
display: inline-block;
margin:0px 5% 0px 10%;}
.navbar{
	width:100%;
}

.navbar-toggler{
	    height: 3em;
	    border-radius: 30px;
	    color: #66FCF1;
	    background:rgba(0,0,0,1);
}
.navbar-toggler:hover{
	border: 2px solid #66FCF1;
	/*background: #30C0c0;*/
	/*border-color: #66;*/
	/*background-image: url("images/logo1.png");*/
}
.nav-link {
    display: inline-block;
    padding: .5rem 1rem;
    /* margin: 0px; */
    margin: 0px 10px;
}
.playlist{
	/*margin: 8% 5%;*/
	width:100%;
	height: 100%;
}
.playbox{
	margin: 4% 5% 0% 2%;
	margin-right: auto;
	margin-left: auto;
	padding:0px;
	width:100%;
	height: 500px;
	/*display: inline-block;*/
	/*border:solid #66FCF1 1px;*/
}
.container-fluid .row{
	padding: 0px 55px;
	margin-bottom: 50px;
}
.playlist-header{
	color:#66FCF1;
	text-align: center;
	font-size: 2.5rem;
	font-family: 'Alata', sans-serif;
	width:100%;
	margin-top: 3%;
}
.emo-row .row{
	padding: 0px 55px 0px 30px;
}
#man_emo{
	width:100%;
	margin:2% 4%;
	/*margin:0px auto;*/
}
.man-but-div{
	display: inline-block;
	padding-top:25px;
	height: 80px;
	border: solid #66FCF1 1px;
	border-radius: 10px;
	text-align: center;
	margin-left:3.5%;
	margin-top: 40px;
	margin-right: 4.3%;
	/*font-size: 1.1rem;*/
	font-weight:700;
	color:#66FCF1;
}
.man-but-div:hover{
	background: #66FCF1;
	color: #1b1c20;

}
@media(max-width: 991px){
.eve{
	margin-top: 15%;
}}
@media(max-width: 767px){
	.man-head-sm{
		margin-left: 30px;
	}
}